body {
  font-family: "roboto" sans-serif;
}
<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-top-section elementor-element elementor-element-53d38ed6 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="53d38ed6" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-79432fb5" data-id="79432fb5" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;none&quot;}">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-de2abf8 elementor-icon-list--layout-inline elementor-align-center elementor-tablet-align-center elementor-list-item-link-full_width elementor-widget elementor-widget-global elementor-global-38659 elementor-widget-icon-list" data-id="de2abf8" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items elementor-inline-items">
							<li class="elementor-icon-list-item elementor-inline-item">
					<a href="https://www.xing.com/profile/Axel_Hoehnke" target="_blank" rel="nofollow">						<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fab fa-xing"></i>						</span>
										<span class="elementor-icon-list-text">XING </span>
											</a>
									</li>
								<li class="elementor-icon-list-item elementor-inline-item">
					<a href="https://www.linkedin.com/in/axelhoehnke/" target="_blank" rel="nofollow">						<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fab fa-linkedin-in"></i>						</span>
										<span class="elementor-icon-list-text">LinkedIn</span>
											</a>
									</li>
						</ul>
				</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-051c851" data-id="051c851" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;none&quot;}">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-573a651 elementor-align-center elementor-widget elementor-widget-button" data-id="573a651" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="https://calendly.com/c84/30min" target="_blank" rel="nofollow" class="elementor-button-link elementor-button elementor-size-md" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">Schedule a Consultation </span>
		</span>
					</a>
		</div>
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
.forest {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;

  background-image: url("https://www.w3schools.com/w3images/forestbridge.jpg");
  background-size: cover;
}
button {
  border-radius: 4px;
  text-transform: uppercase;
}

img {
  vertical-align: middle;
  border-style: double;
  margin: 40px;
  opacity: 0.5;
}

h1,
h2,
p {
  color: white;
  font-style: italic;
  text-shadow: black 1px 1px;
}

.main-heading {
  color: antiquewhite;
  padding: 30px;
}

.sub-heading {
  color: antiquewhite;
  padding: 15px;
  margin: 15px;

  letter-spacing: -3px;
  text-shadow: black 2px 2px;
}
