body {
  font-family: "roboto" sans-serif;
}

.forest {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;

  background-image: url("https://www.w3schools.com/w3images/forestbridge.jpg");
  background-size: cover;
}
button {
  border-radius: 4px;
  text-transform: uppercase;
}

img {
  vertical-align: middle;
  border-style: double;
  margin: 40px;
}

h1,
h2,
p {
  color: white;
  font-style: italic;
  text-shadow: black 1px 1px;
}

.main-heading {
  color: antiquewhite;
  padding: 30px;
}

.sub-heading {
  color: antiquewhite;
  padding: 15px;
  margin: 15px;

  letter-spacing: -3px;
  text-shadow: black 2px 2px;
}
